@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #1c1d1f;
  color: #fff;
}

body {
  line-height: 1.5;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width: 80%;
    margin: 1rem;
}

.sub-item {
    margin-top: 1rem;
}

.patternImg{
  margin: 1rem auto;
  width: 60%;
}

pre {
    border: 1px solid gray;
    padding: .5rem;
    border-radius: .3rem;
    background-color: #fafafa;
    margin: .5rem;
    color: #1c1d1f;
}

select, input{
  width: 50%;
  padding: 1rem;
  margin: .5rem;
}

.beer, .result, .box {
  padding: 1rem;
  border: 1px solid #fafafafa;
  border-radius: .5rem;
  margin: .5rem;
  min-height: 1.5rem;
}

.beer img {
  width: 100px;
}

.box {
  display: flex;
  flex-flow: wrap;
}
.box > div {
  border: 1px solid #fafafafa;
  flex: 0 0 48%;
}